# files
~*
*_log_*.txt
*.tmp
*.tar
/compiling/copy_wars.sh
/compiling/deploy_wars.sh
compile_order.txt

# folder
*/release/
*/logs/
*/log/
*/btulz.scripts/
*/git/
*/tfs/

# mac os files
.DS_Store
